<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alvex.pneumoniaxray">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.alvex.pneumoniaxray.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_pneumonia_polos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_pneumonia_polos"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.PneumoniaXRay">
        <activity android:name="com.alvex.pneumoniaxray.login.LoginActivity" />
        <activity android:name="com.alvex.pneumoniaxray.splash_screen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alvex.pneumoniaxray.detail.DetailHistoryActivity" />
        <activity android:name="com.alvex.pneumoniaxray.main.MainActivity" />
    </application>

</manifest>